# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Virtual environment
env/
venv/
.gnews-env/
gnews-env/
.gnews_env/
.gnews-env.bak/

# Environment variables
.env
.env.*

# macOS
.DS_Store

# Logs and temp files
*.log
*.tmp
*.bak

# VSCode settings (optional, if sharing the project)
.vscode/

# Python notebooks
*.ipynb_checkpoints/

# JSON results/output
news_output*.json.env
